p Adapted from Karlin, M. (2013). Coastal breeze. <em>Mastering fermentation: Recipes for making and cooking with fermented foods.</em> Potter/TenSpeed/Harmony.

p This is the recipe for my version of Cypress Grove’s signature Humboldt Fog, a mild and creamy goat cheese with an edible “bloomy” rind and a layer of vegetable ash running through the center. It’s similar to an aged Chevre with the addition of a pinch of Penicillium roqueforti mold powder which gives it a delectable blue-cheesy bite and aroma. The cheese I’ve made with this recipe received blue ribbons from the San Diego County Fair Homemade Cheese Competition in 2015 and 2016.

p
  | A note about this recipe, I’m assuming you have a basic knowledge of cheese making, if not there are many wonderful books and website that can give you the basics of sanitizing, setting up your aging space, trouble shooting etc. The ones I rely on include Gianaclis Caldwell’s <em>Mastering Artisan Cheese Making</em>, Ricki Carol’s, <em>Home Cheesemaking</em>,
  a(href="http://www.cheesemaking.com" target="_blank") www.cheesemaking.com
  |, and
  a(href="http://www.cheesemaking.com") www.curd-nerd.com
  |.
