.form-group
  label.sr-only(for="search-recipes") Search
  input#search-recipes.form-control(type="text" placeholder="Filter by name" ng-model="nameFilter" ng-model-options="{debounce:500}" ng-change="setNameFilter(nameFilter)")