a.recipe-card.col-md-3(ng-href="{{recipe.url}}" target="_blank")
  .thumbnail(ng-style="{'background-image':'url(\"' + imageSource + '\")'}")
  .caption
    .name.ellipses {{recipe.name}}
    | Skill level: {{recipe.skillLevel | skillLevel}}